{{#with footer}}
<footer id="footerid" class="text-light bg-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left ">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-xl-6 mb-3 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">{{title}}</h5>
        <p>
          {{tagline}}
        </p>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3" /> -->

      <!-- Grid column -->
      <div class="col-md-5  col-xl-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">{{contactInformation.title}}</h5>

        <ul id="social-media-id-test" class="list-unstyled social-media-list">
          <li class="position-relative">
            {{{contactInformation.links.email.icon}}}<a class="stretched-link" href="#!"> <div class="d-inline-block" style="position: relative; top: 0.25rem;" id="email-data-container"></div> </a>
          </li>
          <li class="position-relative">
            {{{contactInformation.links.phone.icon}}}<a class="stretched-link" href="#!"> <div class="d-inline-block" style="position: relative; top: 0.25rem;" id="phone-data-container"></div> </a>
          </li>
          <li class="position-relative">
            {{{contactInformation.links.location.icon}}}<a id='testRenderText' class="stretched-link" href="#!">{{contactInformation.links.location.title}}</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">{{socialMedia.title}}</h5>

        <ul class="list-unstyled social-media-list">
          <li class="position-relative">
            {{{socialMedia.links.twitter.icon}}}<a class="stretched-link" target="_blank" rel="noopener noreferrer" href="{{{socialMedia.links.twitter.url}}}">{{socialMedia.links.twitter.title}}</a>
          </li>
          <li class="position-relative">
            {{{socialMedia.links.instagram.icon}}}<a class="stretched-link" target="_blank" rel="noopener noreferrer" href="{{{socialMedia.links.instagram.url}}}">{{socialMedia.links.instagram.title}}</a>
          </li>
          <li class="position-relative">
            {{{socialMedia.links.facebook.icon}}}<a class="stretched-link" target="_blank" rel="noopener noreferrer" href="{{{socialMedia.links.facebook.url}}}">{{socialMedia.links.facebook.title}}</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-2 d-flex justify-content-center">
    <ul class="d-inline-block px-1">
      <li>
        {{lowerFooter.links.copyright.title}}
      </li>
      <li>
        <a class="" {{{lowerFooter.links.termsAndPrivacy.extraAttr}}} href="{{{lowerFooter.links.termsAndPrivacy.url}}}">{{lowerFooter.links.termsAndPrivacy.title}}</a>
      </li>
      <li>
        <a class="" {{{lowerFooter.links.devInfo.extraAttr}}} href="{{{lowerFooter.links.devInfo.url}}}">{{lowerFooter.links.devInfo.title}}</a>
      </li>
    </ul>
  </div>
  <!-- Copyright -->
</footer>
{{/with}}