{{#with header-carousel}}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-index="0"
            style="background-image: url('${require(`{{{concat image_directory slides.[0].image.name image_extension}}}`)}'); background-position: {{{slides.[0].image.position}}}; background-size: cover;">
            <div class="container">
                <div class="carousel-caption text-right ">
                    <h1>{{slides.[0].title}}</h1>
                    <p id="carousel-caption-first" class="stretch ml-auto hyphenate">
                        {{slides.[0].body}}
                    </p>
                    <p>
                        <a onclick="{{{slides.[0].onclick}}}" class="btn btn-lg btn-primary carousel-button" href="#"
                            role="button">{{slides.[0].buttonContent}}</a>
                    </p>
                </div>
            </div>
        </div>
        <div style="background-image: url('${require(`{{{concat image_directory slides.[1].image.name image_extension}}}`)}'); background-position: {{{slides.[1].image.position}}}; background-size: cover;"
            class="carousel-item" data-index="1">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>{{slides.[1].title}}</h1>
                    <p id="carousel-caption-second" class="stretch mr-auto hyphenate">
                        {{slides.[1].body}}
                    </p>
                    <p>
                        <a onclick="{{{slides.[1].onclick}}}" class="btn btn-lg btn-primary carousel-button" href="#"
                            role="button">{{slides.[1].buttonContent}}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item"
            style="background-image: url('${require(`{{{concat image_directory slides.[2].image.name image_extension}}}`)}'); background-position: {{{slides.[2].image.position}}}; background-size: cover;">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{slides.[2].title}}</h1>
                    <p id="carousel-caption-second" class="stretch mx-auto hyphenate">
                        {{slides.[2].body}}
                    </p>
                    <p>
                        <a onclick="{{{slides.[2].onclick}}}" class="btn btn-lg btn-primary carousel-button" href="#"
                            role="button">{{slides.[2].buttonContent}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{{/with}}