<div id="servicios-container">
  <section class="jumbotron bg-transparent text-dark text-center pt-1 pb-1">
    <div class="container">
      <h1 class="jumbotron-heading">{{ serviceCards.title }}</h1>
    </div>
  </section>
  <div class="row row-cols-1 row-cols-md-2">
    {{#each serviceCards.cards}}
    <div class="col mb-4">
      <div data-service-index="{{@index}}" class="card h-100" data-large-body="{{large_body}}">
        <div class="card-body">
          <h5 class="card-title mb-3 service-card-title">{{ title }}</h5>
          <p lang="{{{@root.language-code}}}" class="card-text service-card-body hyphenate">
            {{ body }} {{#ifCond viewMoreStatus '==' 'enabled'}} <a href="#" class="service-view-more"
              data-toggle="modal" data-target=".bd-view-more-modal-lg">{{ @root.serviceCards.viewMore }}</a> {{/ifCond}}
          </p>
          <a href="#" class="btn btn-primary service-card-button"
            onclick="{{{buttonOnClick}}}">{{ @root.serviceCards.buttonContent }}</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="modal fade bd-view-more-modal-lg services-modal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body-container">
            <p lang="{{{@root.language-code}}}" class="card-text service-card-body hyphenate"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>